<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= @settings.github.org.capitalize %> Github Feed Fetcher</title>
  </head>
  <body>
    <h1>Github Feed Fetcher</h1>
    <h2>For <%= @settings.github.org.capitalize %></h2>
    <p>Results are pushed every ten minutes to
      <a href="https://gist.github.com/<%= @settings.github.gist %>">
        this gist</a>.</p>
    <p>Access the raw JSON
      <a href="https://raw.github.com/gist/<%= @settings.github.gist %>/feed.json">
        straight from Github</a>.</p>
    <p>Here's a
      <a href="/pretty">slightly prettier version</a>.</p>
    <pre><code>
You can also use the CORS-enabled proxy we've got here. Just issue
a GET request to:

    https://ualug-github-feed.herokuapp.com/proxy/&lt;feed&gt;.&lt;format&gt;

where &lt;feed&gt; is one of:
  
  github

  (more to come :)

and &lt;format&gt; is one of:

  json    Which is just what the gist contains.
  
  jsonp   Which is the same, but wrapped in a callback
          (and you can define that using the ?callback=...
          parameter, otherwise it's set to "callback").
  
  yaml    Which is the same data, but in YAML format.


If GitHub decides there's somthing wrong with our request
and sends something else than HTTP 200 through, you'll get
the same status code than what we've received, plus the
response body, minus the headers — we set those.

If you don't specify a format, or specify a bad format,
you'll get back an HTTP 400, with "bad format" as the body.
    </code></pre>
    <p><small>Coded by
      <a href="http://passcod.net">passcod</a>
      and friends, code available
      <a href="https://github.com/ualug/github-feed">here</a>.
    </small></p>
  </body>
</html>
