<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= @settings.github.org.capitalize %> Github Feed Fetcher</title>
  </head>
  <body>
    <h1>Github Feed Fetcher</h1>
    <h2>For <%= @settings.github.org.capitalize %></h2>
    <p>Retrieved from GitHub every five minutes.</p>
    <p>Here's a <a href="pretty">pretty version</a>.</p>
    <pre><code>
To get the results, just issue a GET request to:

    http://b03.passcod.name/ualug-feed/github.&lt;format&gt;

and &lt;format&gt; is one of:

  json    Which is just what the gist contains.
  
  jsonp   Which is the same, but wrapped in a callback
          (and you can define that using the ?callback=...
          parameter, otherwise it's set to "callback").
  
  yml    Which is the same data, but in YAML format.


If you don't specify a format, or specify a bad format,
you'll get back an HTTP 400, with "bad format" as the body.

This API is CORS-enabled, so you can use it straight from javascript.
    </code></pre>
    <p><small>Coded by
      <a href="https://passcod.name">passcod</a>
      and friends, code available
      <a href="https://github.com/ualug/github-feed">here</a>.
    </small></p>
  </body>
</html>
