<meta http-equiv="refresh" content="300" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/0.9.3/jquery.timeago.js"></script>
<link rel="stylesheet" href="pretty.css" />
<script src="pretty.js"></script>
<title>Pretty Feed</title>
<body>
  <section id="feed">
    <script id="entry-model" type="text/x-handlebars-template">
      <figure>
        <img class="gravatar" src="{{actor.avatar_url}}" width="24" height="24" />
        <p>
          <span class="name">{{actor.login}}</span>
          <span class="action">{{action}}</span>
          <time datetime="{{created_at}}"></time>
        </p>
      </figure>
    </script>
  </section>
</body>
