body {
  font-family: sans-serif;
}

#feed {
  background: rgb(230,230,230);
  width: 600px;
  padding: 5px 0;
  margin: 0 auto;
  border: 3px solid rgb(220,220,220);
  border-radius: 5px;
}

figure {
  background: rgb(220,220,220);
}

figure:nth-child(2n) {
  background: lightgrey;
}

figure img {
  border: 1px solid black;
  border-radius:2px;
  padding:2px;
  float: left;
  background: white;
  margin-right: 5px;
}
